.specialText::after {
    content: "TABS";
}

.boxFlex {
    display: inline-flex;
    margin: 0px -3px;
}

.content {
    display: none;
    float: left;
    clear: both;
}

main {
    padding: 8% 23%;
}